PRICE_PER_GB_MO=0.03
HOSTING_DOMAIN=localhost:8080
BSV_NETWORK=mainnet
WALLET_STORAGE_URL=https://storage.babbage.systems
SERVER_PRIVATE_KEY=...
MIN_HOSTING_MINUTES=0
HTTP_PORT=8080
SHIP_BROADCAST=true
